body {
	margin: 0;
	background: #fff !important;
}


.e19_24 {
	background-image: linear-gradient(0deg, rgba(161.0000056028366, 140.00000685453415, 209.00000274181366, 1) 0%, rgba(251.00000023841858, 194.00000363588333, 235.0000011920929, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	width: 142px;
	height: 68px;
	font-family: Roboto;
	text-align: center;
	font-size: 49px;
	letter-spacing: 0;
}

.e7_30 {
	background-image: linear-gradient(0deg, rgba(94.0000019967556, 231.00000143051147, 223.00000190734863, 1) 0%, rgba(180.00000447034836, 144.00000661611557, 202.00000315904617, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	width: 311px;
	height: 44px;
	/* */
	/* left: 13px; */
	/* top: 135px; */
	font-family: Roboto;
	text-align: center;
	font-size: 29px;
	letter-spacing: 0;
}

.e8_4 {
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	width: 386px;
	height: 146px;
	background-image: url(images/rectangle.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e19_80 {
	color: rgba(0, 0, 0, 1);
	width: 347px;
	height: 32px;
	font-family: Roboto;
	text-align: center;
	font-size: 29px;
	letter-spacing: 0;
}

.e8_130 {
	background-image: linear-gradient(0deg, rgba(246.0000005364418, 211.00000262260437, 101.00000157952309, 1) 0%, rgba(253.0000001192093, 160.00000566244125, 133.00000727176666, 1) 100%);
	width: 311px;
	height: 80px;
	font-family: Rubik;
	text-align: center;
	font-size: 73px;
	letter-spacing: 0;
}

.e19_19 {
	width: 280px;
	height: 240px;
	background-image: url(images/chat.png);
	background-repeat: no-repeat;
	background-size: cover;
}







.e23_7 {
	width: 280px;
	height: 240px;

	background-image: url(images/explore.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e23_3 {
	width: 280px;
	height: 240px;
	background-image: url(images/group.png);
	background-repeat: no-repeat;
	background-size: cover;
}




.e23_10 {
	width: 280px;
	height: 240px;
	background-image: url(images/location.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e23_13 {
	width: 280px;
	height: 240px;
	background-image: url(images/wallpaper.png);  
	background-repeat: no-repeat;
	background-size: cover;
}


.e23_16 {
	position: relative;
	background-image: linear-gradient(0deg, rgba(79.00000289082527, 172.00000494718552, 254.00000005960464, 1) 0%, rgba(0, 242.00000077486038, 254.00000005960464, 1) 100%);
	/* */
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}


.e23_26 {
	width: 53px;
	height: 53px;

	background-image: url(images/twitter.png); 
	background-repeat: no-repeat;
	background-size: cover;
}

.e23_29 {
	width: 53px;
	height: 53px;
	background-image: url(images/facebook.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e23_27 {
	width: 53px;
	height: 53px;
	background-image: url(images/pinterest.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.vin {
	margin-top: 100px;
	position: relative;
	margin-bottom: 50px;
}

.e23_31 {
	width: 280px;
	height: 240px;
	background-image: url(images/fast.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e34_3 {
	margin: 0 auto;
	width: 50%;
	height: auto;
	min-height: 300px;
	min-width: 319px;


	background-image: url(images/group_4_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.center {
	display: flex;
	width: 100%; 
	text-align: center;
	justify-content: center;
	height: 90px; 
	padding: 7px;
}

.d{
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;

}

.ic {
	position: relative;
	display: flex;
	padding: 9px;
	align-items: center;
	justify-content: space-evenly;
	margin: 20px;
}

.e8_4 {
	position: absolute;
	right: -15%;

}

.c {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 30px;
	height: 179rem;
	justify-content: center; 
	text-align: center;

}
.container div div{
  margin: 0 auto; 
}

.container div .header{ 
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.8rem;  
}

.e23_32 {
	width: 100%;
}

.e23_19 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media only screen and (min-width: 790px) { 
	.container {
		display: grid;
		grid-template-columns: 40% 40%;
		grid-gap: 10%;
		height: 84rem;

	}

}